body,
html {
  font-family: helvetica;
  background-color: #fff;
  color: #fff;
}
input {
    background-color: #e6e6e6;
    border-style: none;
    width: 330px;
    height: 40px;
    margin-top: 10px;
    border-radius: 15px;
    color: #fff;
}
button {
    background-color: #67CC66;
    border-style: none;
    width: 330px;
    height: 40px;
    margin-top: 15px;
    border-radius: 15px;
    color: #fff;
}